language: rust
sudo: false
rust: stable
dist: trusty

matrix:
  include:
    - rust: nightly

    - env: TARGET=x86_64-unknown-linux-musl DEPLOY=1
      before_script:
        - rustup target add $TARGET
      script: cargo build --release --target $TARGET --locked --features vendored-openssl
      addons:
        apt:
          packages:
          - musl-tools

    - os: osx
    - os: osx
      env: MACOSX_DEPLOYMENT_TARGET=10.7 DEPLOY=1 TARGET=x86_64-apple-darwin OPENSSL_STATIC=1
      script: cargo build --release --target $TARGET --locked

branches:
  only:
  - master

script:
  - cargo test --locked

notifications:
  email:
    on_success: never

before_deploy:
  - name="cargo-edit-locally-$TRAVIS_TAG-$TARGET"
  - mkdir $name
  - cp target/$TARGET/release/cargo-edit-locally $name/
  - cp README.md LICENSE-MIT LICENSE-APACHE $name/
  - tar czvf $name.tar.gz $name

deploy:
  api_key:
    secure: "KO2+7pDAsIpcNLxIMRPTVoMZI4Qw47Z0nHvRicS68A433gn03RC7Yfm9y6yf9GusrRxH0FHO3FIq2lA0pcp9CCQU+pnFBZgFH7e/U4lfi5xugrP268LD2cjz5tP8M2Aooj9lTiTr9YGTgdw9aVkT86yHNBdbgI3kTDNswuDapY3zWWSPqL3HAI0svTVrY76zOoQAHgFcOUra6w1r47KeFAgKNSRsmQ4kB3ix5UgTyrR0HHgtYEz0Guimw45baU4Ay/LglVoT65k3VwapyQDJEFifgNb3D8uFxi9Q9LH91YBEA+b2kUqPNB9IeM0gxlu782LkrBAGHsGvAlrOSNyPy3b3R8OHDmxP4YwZgGUMc+BR2GGyrbARj5EY41KNKv4t6ARkO2h+vkJ+7uOkLdm85TIGgXeI9861DpqDfFHbIjv7qkRS4BxW64Nj7CQlq9dEMe0PG9tqlyLNW//F8csmM0KpYVVL34hWKch52RGF19FuBb0Jr1TKIwvED9t8jTpVGNTwnARPeIcEmHKp3q/lBdIFzEgbO504XsTEkZXN0H/8JgfndtqQUOlE4xKWFMvIyogiFn8Mh5FNFJE48325vvPWiP4/bbK01YKHELHaCLxiiMOVU6hsjGkHO5wS1l3tCmXL/prRfm7W2hQNB7I0nAURMysseH8yUMth85gnCfg="
  file_glob: true
  file: cargo-edit-locally-$TRAVIS_TAG-$TARGET.tar.gz
  on:
    condition: $DEPLOY = 1
    tags: true
  provider: releases
  skip_cleanup: true
